{% extends 'layout.html' %}

{% block content %}
{% load static %}

<link href="{% static 'stylehome.css'%}" rel="stylesheet">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">หน้าหลัก</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
</div>
<div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                คำศัพท์ทั้งหมด</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{allword.0.1}}</div>
                                                {% comment %} {% for word in allword %}
                                                    {% for ch in word %}        
                                                        
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ch.Word_th}}</div>
                                                        
                                                    {% endfor %}
                                                {% endfor %} {% endcomment %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                จำนวนประโยคถาม-ตอบ</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{allword.0.2}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">จำนวนครั้งที่หาไม่เจอ
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{allword.0.3}}</div>
                                            <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>    
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                 <!-- Content Row -->
                    <div class="row">

                        <!-- First Column -->
                        <div class="col-lg-4">

                            <!-- Custom Text Color Utilities -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">ประโยคที่ใช้บ่อย</h6>
                                </div>
                                <div class="card-body">
                                {% for word in allword %}
                                    {% for ch in word %}        
                                            {% if ch.type == 1 and ch.miss == 0 %}
                                            <p class="text-gray-900 p-3 m-0">{{ch.wordque}}</p>
                                            {% endif %}
                                        {% endfor %}
                                {% endfor %}
                                </div>
                            </div>

                        </div>

                        <!-- Second Column -->
                        <div class="col-lg-4">

                            <!-- Background Gradient Utilities -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">คำที่ใช้บ่อย
                                    </h6>
                                </div>
                                <div class="card-body">
                                    {% for word in allword %}
                                    {% for ch in word %}    
                                            {% if ch.type == 0 %}
                                            <p class="text-gray-900 p-3 m-0">{{ch.wordque}}</p>
                                            {% endif %}
                                        {% endfor %}
                                {% endfor %}
                                </div>
                            </div>

                        </div>

                        <!-- Third Column -->
                        <div class="col-lg-4">

                            <!-- Grayscale Utilities -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">คำที่ใช้บ่อยที่ไม่มีในระบบ
                                    </h6>
                                </div>
                                <div class="card-body">
                                
                                    {% for word in allword %}
                                        {% for ch in word %}
                                            
                                            {% if ch.type == 1 and ch.miss == 1 %}
                                            <p class="text-gray-900 p-3 m-0">{{ch.wordque}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>

{% endblock%}

