{% extends 'layout.html' %}

{% block content %}
{% load static %}

<link href="{% static 'stylehome.css'%}" rel="stylesheet">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">หน้าหลัก</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
</div>
<div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                คำศัพท์ทั้งหมด</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">100</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                จำนวนประโยคถาม-ตอบ</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">20</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">จำนวนเสียงทั้งหมด
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">100</div>
                                            <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>    
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                 <!-- Content Row -->
                    <div class="row">

                        <!-- First Column -->
                        <div class="col-lg-4">

                            <!-- Custom Text Color Utilities -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">ประโยคที่ใช้บ่อย</h6>
                                </div>
                                <div class="card-body">
                                    <p class="text-gray-900 p-3 m-0">1.กลางคืนเจ็บจนต้องตื่นมากินยาหรือทายาไหม</p>
                                    <p class="text-gray-900 p-3 m-0">2.อธิบายเหตุการณ์ว่าเกิดขึ้นได้อย่างไร</p>
                                    <p class="text-gray-900 p-3 m-0">3.ตอนปวดทำอะไรอยู่</p>
                                    <p class="text-gray-900 p-3 m-0">4.ระดับความปวดตอนนี้</p>
                                    <p class="text-gray-900 p-3 m-0">5.ระดับความปวดตอนแรก</p>
                                    <p class="text-gray-900 p-3 m-0">6.อธิบายเหตุการณ์ว่าเกิดขึ้นได้อย่างไร</p>
                                    <p class="text-gray-900 p-3 m-0">7.มีโรคประจำตัวไหม</p>
                                    <p class="text-gray-900 p-3 m-0">8.นั่งยองๆได้นานหรือเปล่า</p>
                                    <p class="text-gray-900 p-3 m-0">9.ขออนุญาติตรวจตรงเขาหน่อย</p>
                                    <p class="text-gray-900 p-3 m-0">10.ท่าที่อยู่แล้วสบายที่สุด</p>
                                </div>
                            </div>

                        </div>

                        <!-- Second Column -->
                        <div class="col-lg-4">

                            <!-- Background Gradient Utilities -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">คำที่ใช้บ่อย
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <p class="text-gray-900 p-3 m-0">1.อธิบาย</p>
                                    <p class="text-gray-900 p-3 m-0">2.ปวด</p>
                                    <p class="text-gray-900 p-3 m-0">3.โรคประจำตัว</p>
                                    <p class="text-gray-900 p-3 m-0">4.นั่ง</p>
                                    <p class="text-gray-900 p-3 m-0">5.นาน</p>
                                    <p class="text-gray-900 p-3 m-0">6.ประจำ</p>
                                    <p class="text-gray-900 p-3 m-0">7.กลางคืน</p>
                                    <p class="text-gray-900 p-3 m-0">8.เจ็บ</p>
                                    <p class="text-gray-900 p-3 m-0">9.กินยา</p>
                                    <p class="text-gray-900 p-3 m-0">10.ทายา</p>
                                </div>
                            </div>

                        </div>

                        <!-- Third Column -->
                        <div class="col-lg-4">

                            <!-- Grayscale Utilities -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">คำที่ใช้บ่อยที่ไม่มี
ในระบบ
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <p class="text-gray-900 p-3 m-0">1.เป็นยังไงบ้าง</p>
                                    <p class="text-gray-900 p-3 m-0">2.สะดวกไหม</p>
                                    <p class="text-gray-900 p-3 m-0">3.ยัง</p>
                                    <p class="text-gray-900 p-3 m-0">4.เป็นอะไรมา</p>
                                    <p class="text-gray-900 p-3 m-0">5.สบายดีไหม</p>
                                    <p class="text-gray-900 p-3 m-0">6.ข้าว</p>
                                    <p class="text-gray-900 p-3 m-0">7.น้ำ</p>
                                    <p class="text-gray-900 p-3 m-0">8.อาหาร</p>
                                    <p class="text-gray-900 p-3 m-0">9.เหล้า</p>
                                    <p class="text-gray-900 p-3 m-0">10.เจ็บตรงไหน</p>
                                </div>
                            </div>
                        </div>

                    </div>

{% endblock%}

