<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
  {% load static %}
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'dist\css\bootstrap.min.css'%}">

  {% comment %} <link href="{% static 'loginstyle.css'%}" rel="stylesheet"> {% endcomment %}
  <link href="{% static 'stylehome.css'%}" rel="stylesheet">

</head>

 <body class="text-center">
  <main class="form-signin">

    {% comment %} <form action="username_pass" method="POST">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'image/logo.png'%}" alt="" width="150px" height="120px">
      <h1 class="h3 mb-3 fw-normal">ภาษากระเหรี่ยงสำหรับกายภาพ</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
        <label for="floatingInput">ชื่อผู้ใช้</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">รหัสผ่าน</label>
      </div>


      <a href="/mainpage"><button class="w-100 btn btn-lg "
          style="background-color: #FFA69E;color: white;">เข้าสู่ระบบ</button></a>
      {% if user == 'nouser'%}
      <h3 class="h3 mb-3 fw-normal">ไม่พบข้อมูล</h4>
      {%endif%}
      <p class="mt-5 mb-3 text-muted">&copy; Maiteesolution</p>
    </form>
  </main>
</body> {% endcomment %}



<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9" style="top:70px">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <img src="{% static 'image/logologin.png'%}" style="width: 400px;" alt="" class="login">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                    <img src="{% static 'image/login.png'%}" style="width: 90px;" alt="" class="center">
                                        <h1 class="h4 text-gray-900 mb-4">ภาษากระเหรี่ยงสำหรับกายภาพ</h1>
                                    </div>
                                    <form action="username_pass" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="exampleInputEmail" 
                                                placeholder="ชื่อผู้ใช้" name="username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="รหัสผ่าน" name="password">
                                        </div>
                                        <div class="form-group">
                                            
                                        </div>
                                        <input type="submit" class="btn btn-block" style="background-color:#26A69A;color:white" value="เข้าสู่ระบบ">
                                            
                                    </input>
                                    {% if user == 'nouser'%}
                                        <h3 class="h3 mb-3 fw-normal">ไม่พบผู้ใช้</h4>
                                    {%endif%}
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
</html>