{% extends 'layout.html' %}

{% block content %}
{% load static %}

<script src="{%static 'script/mainpage.js'%}"></script>
<link href="{% static 'mainpagesty.css'%}" rel="stylesheet">


<div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">คำศัพท์</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button id="add_but" type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                    data-target=".modal">
                    <span data-feather="plus"></span>
                    เพิ่ม
                </button>
            </div>
        </div>

        <!-- table -->

        <div class="card-body">
            <table id="myTable" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th>คำศัพท์ภาษาไทย</th>
                        <th>เสียง</th>
                        <th>การกระทำ</th>
                    </tr>
                </thead>
                {% for word in allword %}
                <tr>
                    <td>{{word.Word_th}}</td>
                    <td> <button id='{{word.Word_th}}' data-target="{{word.Sound}}" class='btn1'
                            style='background-color: grey;width: 40px;'><i class='fa fa-play'></i>
                        </button>
                        <audio id="{{word.Sound}}">
                        </audio>
                    </td>
                    <td> <button id='buttonEdit' class='btn btn_edit' style='background-color: #A8DADC;color:white'
                            target='{{word.Word_th}}' data-toggle="modal" data-target=".modal">แก้ไข</button>

                        <a> <button id='btnEdit' class='btn btn_delete'
                                style='background-color: #FFA69E;color:white'>ลบ</button>
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
        {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}
        <!-- end table -->

        <!-- modal -->
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">เพิ่ม</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">คำศัพท์:</label>
                                <input type="text" class="form-control" id="recipient-name" placeholder="คำภาษาไทย" name="wordth">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">อัพโหลดเสียง</label>
                                <div class="custom-file">
                                    <input type="file" name="myfile">
                                    <br><br>
                                </div>
                            </div>
                            <div id="explain"></div>
                            <button type="button" class="btn border" style="background-color: white;color: black;"
                                data-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btncon "
                                style="background-color: #457B9D;color: white;">ยืนยัน</button>
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>
</div>
<script>
    $(document).ready(function () {

        $("#myTable tbody").on("click", ".btn_edit", function () {
            var id = this.id;
            var x = document.getElementById(id).getAttribute("target");
            $('#exampleModalLabel').text('แก้ไข')
            $("#recipient-name").val(x)
            $('.custom-file-label').val(x)
        });

        $(".btncon").on("click", function () {
            var x = document.getElementById("files");
            var txt = "";
            if ('files' in x) {
                if (x.files.length == 0) {
                    txt = "Select one or more files.";
                } else {
                    for (var i = 0; i < x.files.length; i++) {
                        txt += "<br><strong>" + (i + 1) + ". file</strong><br>";
                        var file = x.files[i];
                        if ('name' in file) {
                            txt += "name: " + file.name + "<br>";
                        }

                    }
                }
            }
            else {
                if (x.value == "") {
                    txt += "Select one or more files.";
                } else {
                    txt += "The files property is not supported by your browser!";
                    txt += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
                }
            }
            document.getElementById("explain").innerHTML = txt;
        });
        $("#add_but").on("click", function () {

            $('#exampleModalLabel').text('เพิ่ม')
            $("#recipient-name").val('')
            $('.custom-file-label').val('')
        });

        $(".btn1").on("click", function () {

            var y = document.getElementById(this.id).getAttribute("data-target");
            var audio = document.getElementById(y);
            audio.currentTime = 0;
            $('#sound').remove();
            document.getElementById(y).innerHTML += '<source id="sound" src="/static/sound/' + y + '" type="audio/mpeg">';
            audio.play();
        });
        
    });
</script>

{% endblock%}